html,body {
  height: 100%;
}

body > div:first-of-type {
    height: 100%;
}​


.inner-content {
  padding: 10px;
}
.nav li {
  margin: 0 -15px;
  border-bottom: 1px solid #dee2e6;
}
.nav a {
  display: block;
  padding: 15px;
  color: #fff;
}
.nav a:hover {
  background-color: #007bff;
}