<div class="d-flex flex-column flex-md-row align-items-center p-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">UI Component Library </h5>
</div>
<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">

    <div class="col-2 border-right bg-dark">
      <ul class="nav navbar-nav navigation">
        <li>{{#link-to 'x-button'}}x-button{{/link-to}}</li>
      </ul>

    </div>

    <div class="col-10">
     <div class="inner-content"> {{outlet}} </div>
    </div>
  </div>
</div>


