<h3> Primary </h3>
{{#x-button buttonType="primary"}} Primary {{/x-button}}

<h3> Secondary </h3>
{{#x-button buttonType="secondary"}} Secondary {{/x-button}}

<h3> Success </h3>
{{#x-button buttonType="success"}} Success {{/x-button}}

<h3> Danger </h3>
{{#x-button buttonType="danger"}} Danger {{/x-button}}
