<div class="mb-5 pb-2 border-bottom">
<h1>Colour palette</h1>
<p class="bd-lead">Our primary palette consists of three colours that are at the core of our look and feel and should account for about 80% of colour within communications.</p>
</div>

<div class="d-flex">
  <h2>Coming soon....</h2>
</div>